* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    padding: 0 10px; 
}

.header {
    padding: 10px 0;
    justify-content: space-between;
    border: 3px solid;
}

.nama-web {
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 10px;
}

.navbar a {
    margin-left: 15px;
    border-left: 3px solid black;
    padding-left: 10px;
}

.navbar a:first-child {
    border-left: none;
}

.hero-image {
    border: 3px solid;
    text-align: center;
    margin: 15px 0;
    padding: 40px 0;
}

.hero-image img {
    height: auto; 
}

.artikel {
    padding: 20px 0 0 20px;
    border: 3px solid;
}

.artikel span {
    color: rgb(21, 73, 245);
}


.penulis-artikel {
    margin-bottom: 10px;
}

.artikel .isi-artikel {
    margin-bottom: 15px;
    line-height: 1.5; 
    text-align: justify; 
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}